{% extends 'base.html.twig' %}

{% block body %}
   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and  user.username == ad.user.username %}
     
    <div id="wrapper">
      
         <a href="#" id="plus" class="contentchoice pluschoice">
                                Ajouter une image :
                           <i class="fa fa-plus-circle fa-3x fa-border fa-addinput"></i>                                                              
         </a>   
        <form style="display:none" id="formAddRDV" class="tabRechercheUser" action="{{ path('leboncoin_show_upload', {'id': ad.id }) }}"  method="POST"  {{ form_enctype(form) }}>                      
            <div id="choice" class="contentinputchoice">                
                     <div class="fileinput fileinput-new" data-provides="fileinput">
                         <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input id="inputfile" type="file" name="images"></span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                     </div>
                 <button type="submit" class="btn btn-info">Upload</button>
             </div>            
        </form>
    </div>

   {% endif %}
            
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
    
                 
  <div class="carousel-inner" role="listbox">               
                    <div class="item active">
                      <img  height="100" widht="100" src= {{ asset(['bundles/leboncoin/image/', ad.images[0].path]|join) }} />                  
                    </div>
     {% for images in ad.images %} 
                <div class="item">
                      <img  height="100" widht="100" src= {{ asset(['bundles/leboncoin/image/', images.path]|join) }} />                  
                 </div>              
     {% endfor %}
     
   </div>
                
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
            
    <div id="wrapper">  
        <div id="container" >
            
            <div class="row">
                <div class="col-md-4">
                    {{ ad.date|date('Y-m-d') }}
                    </br>
                    {{ ad.user.username}}
                    </br>
                    <span> Prix : </span>{{ ad.prix }}
                </div>
                <div class="col-md-8" >
                    <span> Titre : </span>{{ ad.titre }}
                    </br>
                    <span> Description :</span>{{ ad.description }}
                </div>                             
            </div>  
        </div>          
    </div>
{% endblock %}
